{% extends "_base.html.j2" %}
{% block body %}
  <p>Files bucketed by latest mtime.</p>
  <div class="chart">{{ chart | safe }}</div>
  <table>
    <thead>
      <tr><th>Bucket</th><th class="num">Files</th><th class="num">Total size</th></tr>
    </thead>
    <tbody>
      {% for b in buckets %}
        <tr>
          <td>{{ b.bucket }}</td>
          <td class="num">{{ '{:,}'.format(b.file_count) }}</td>
          <td class="num">{{ b.total_size | human_size }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
