{% extends "_base.html.j2" %}
{% block body %}
  <h2>By MIME category</h2>
  <div class="chart">{{ category_chart | safe }}</div>
  <table>
    <thead><tr><th>Category</th><th class="num">Files</th><th class="num">Size</th></tr></thead>
    <tbody>
      {% for r in categories %}
        <tr>
          <td>{{ r.category }}</td>
          <td class="num">{{ '{:,}'.format(r.file_count) }}</td>
          <td class="num">{{ r.total_size | human_size }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Top extensions</h2>
  <div class="chart">{{ extension_chart | safe }}</div>
  <table>
    <thead><tr><th>Extension</th><th class="num">Files</th><th class="num">Size</th></tr></thead>
    <tbody>
      {% for r in extensions %}
        <tr>
          <td><code>{{ r.extension }}</code></td>
          <td class="num">{{ '{:,}'.format(r.file_count) }}</td>
          <td class="num">{{ r.total_size | human_size }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
